on:
  push:
    branches: [main, master, develop]
  pull_request:
    branches: [main, master]

name: "Build & Release"

jobs:
  build:
    name: Build & Release
    runs-on: macos-latest
    permissions:
      contents: write 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: x64

      - name: Decode Keystore
        run: echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/upload-keystore.jks

      - name: Create key.properties
        run: |
          echo "storeFile=upload-keystore.jks" > android/key.properties
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" >> android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties

      - name: Create .env file
        run: |
          echo "BACKEND_URL=${{ secrets.BACKEND_URL }}" > .env
          echo "GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}" >> .env

      - name: Get Dependencies
        run: flutter pub get

      # CRITICAL: Run this to find the SHA-1 you need for Google Cloud Console
      - name: Generate Signing Report
        run: |
          chmod +x android/gradlew
          ./android/gradlew signingReport -p android

      - name: Build Android APK
        run: |
          flutter build apk --release --split-per-abi
          cd build/app/outputs/flutter-apk/
          mv app-arm64-v8a-release.apk test-v1.0.${{ github.run_number }}.apk

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/test-*.apk"
          tag: v1.0.${{ github.run_number }}
          token: ${{ secrets.GITHUB_TOKEN }}